<div class="bg-light row m-0 text-muted py-3 text-center">
    <h3>{{headerInfo.TITLE}}</h3>
</div>
<div class="row shadow m-0 pt-2 text-center ps-3">
    <ul class="d-flex gap-2 list-unstyled m-0 pt-1 text-secondary">
        <li class=" px-2 custom-link pb-2" routerLink="home" routerLinkActive="link-active">{{headerInfo.NAV_LINKS.HOME}}</li>
        <li class=" px-2 custom-link pb-2" routerLink="employee" routerLinkActive="link-active">{{headerInfo.NAV_LINKS.EMPLOYEE}}</li>
        <li class=" px-2 custom-link pb-2" routerLink="client" routerLinkActive="link-active">{{headerInfo.NAV_LINKS.CLIENT}}</li>
         <li class=" px-2 custom-link pb-2" routerLinkActive="link-active">{{headerInfo.NAV_LINKS.SAMPLE}}</li>
        <li class=" px-2 custom-link pb-2" routerLinkActive="link-active">{{headerInfo.NAV_LINKS.SAMPLE}}</li>
    </ul>
</div>