@if(isLoading){
    <div class="position-fixed top-50 start-50 spinner-border text-primary"></div>
}
@else {
    <div class="row m-0">
    <div class="card py-2">
        <div class="card-header px-2 bg-secondary text-light">
            <h5>Employee Table</h5>
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Sr No</th>
                        <th>Name</th>
                        <th>Id</th>
                        <th>Code</th>
                        <th>Email Id</th>
                        <th>Designation</th>
                        <th>Role</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @for (item of employeeData; track $index) {
                         <tr>
                        <td>{{$index+1}}</td>
                        <td>{{item?.empName}}</td>
                        <td>{{item?.empId}}</td>
                        <td>{{item?.empCode}}</td>
                        <td>{{item?.empEmailId}}</td>
                        <td>{{item?.empDesignation}}</td>
                        <td>{{item?.role}}</td>
                        <td class="d-flex gap-4">
                            <button class="btn btn-outline-primary" (click)="editPage(item.empId)">Edit</button>
                            <button class="btn btn-outline-danger" (click)="deleteModalOpen(item.empId)">Delete</button>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

    <div class="card shadow mt-5">
    <div class="card-header">
    <h5>
        If you would like to add a new Employee <span (click)="navigateToCreateEmp()" class="text-primary custom-link ms-2">click here</span>
    </h5>
</div>
</div>


}
@if(isDeleteClicked){ 
    <div class="modal d-block" >
    <div class="card w-25 position-fixed start-50 custom-modal">
        <div class="card-header bg-secondary text-white d-flex justify-content-between">
            <h5>Are you sure?</h5>
            <button (click)="deleteModalClose()" type="button" class="btn-close" aria-label="Close"></button>
        </div>
        <div class="card-body">
            Do you want to delete this user?
        </div>
        <div class="card-footer d-flex gap-4 fw-bold">
            <button class="btn btn-secondary" (click)="deleteModalClose()">
                Cancel
            </button>
            <button class="btn btn-primary"(click)="onDelete()">
                Delete
            </button>
            
        </div>
    </div>
</div>
}


