.card-header{
    background-color: lightgray;
}
.custom-btn{
    background-color: transparent;
    border: solid 1px rgba(10, 10, 10, 0.2);
    color: gray;
    border-radius: 0;
}
.card-footer{
    background-color: transparent;
    border-top: none;
}
.submit{
    border-radius: 0;
}
.form-control{
    border-radius: 0;
}