<div class="row m-0">
    <div class="card py-2 px-3">
        <div class="card-header bg-secondary text-light">
            <h5>
                Employee Details
            </h5>
        </div>
        <div class="card-body px-0">
            <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
                 <div class="row m-0">
                <div class="col-6 my-2">
                    <label for="">Name</label>
                    <input type="text" formControlName="empName"   class="form-control">
                </div>
                <div class="col-6 my-2">
                    <label for="">User Name</label>
                    <input type="text" formControlName="userName" class="form-control">
                </div>
                <div class="col-6 my-2">
                    <label for="">Role</label>
                    <input name="" type="text" id=""  class="form-control disabled" formControlName="roleId" >
            
                </div>
                <div class="col-6 my-2">
                    <label for="">Designation</label>
                    <input name="" type="text" id="" class="form-control disabled" formControlName="empDesignationId">

                </div>
                <div class="col-6 my-2">
                    <label for="">Email ID(Professional)</label>
                    <input type="text" formControlName="empEmailId"   class="form-control disabled">
                </div>
                <div class="col-6 my-2">
                    <label for="">Email ID(Personal)</label>
                    <input type="text" formControlName="empPersonalEmailId"   class="form-control">
                </div>
                <div class="col-6 my-2">
                    <label for="">Contact No</label>
                    <input type="text" formControlName="empContactNo"   class="form-control">
                </div>
                <div class="col-6 my-2">
                    <label for="empAltContactNo">Alternate Contact Number</label>
                    <input type="text" formControlName="empAltContactNo"   class="form-control">
                </div>
                 <div class="col-6 my-2">
                    <label for="">Password</label>
                    <input type="text" formControlName="password" class="form-control">
                </div>
                <div class="col-6 my-2">
                    <label for="">Experience(Years)</label>
                    <input type="text" formControlName="empExpTotalYear"   class="form-control">
                </div>
                <div class="col-6 my-2">
                    <label for="">Experience(Months)</label>
                    <input type="text" formControlName="empExpTotalMonth"   class="form-control">
                </div>
                <div class="col-6 my-2">
                    <label for="">City</label>
                    <input type="text" formControlName="empCity"   class="form-control">
                </div>
                <div class="col-6 my-2">
                    <label for="">State</label>
                    <input type="text" formControlName="empState"   class="form-control">
                </div>
                <div class="col-6 my-2">
                    <label for="">Pin Code</label>
                    <input type="text" formControlName="empPinCode"   class="form-control">
                </div>
                <div class="col-6 my-2">
                    <label for="">Adress</label>
                    <input type="text" formControlName="empAddress"   class="form-control">
                </div>
                <div class="col-6 my-2">
                    <label for="">Permanent City</label>
                    <input type="text" formControlName="empPerCity" class="form-control">
                </div>
                <div class="col-6 my-2">
                    <label for="">Permanent State</label>
                    <input type="text" formControlName="empPerState" class="form-control">
                </div>
                <div class="col-6 my-2">
                    <label for="">Permanent Pin Code</label>
                    <input type="text" formControlName="empPerPinCode" class="form-control">
                </div>
                <div class="col-6 my-2">
                    <label for="">Permanent Adress</label>
                    <input type="text" formControlName="empPerAddress" class="form-control">
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <button class="btn btn-outline-secondary">Submit</button>
            </div>
            </form>
        </div>
    </div>
</div>
